################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CJMSS/CopilotIndices/17.14.1091.29919
/.vs/CJMSS/DesignTimeBuild
/.vs/CJMSS/FileContentIndex
/.vs
/src/CJMSS.Plugins/bin/Debug/net462
/src/CJMSS.Plugins/obj
/src/CJMSS.WebResources/bin/Debug/net8.0
/src/CJMSS.WebResources/obj
/docs/generators
/src/CJMSS.WebResources/Documentation/~$g_tables_summary.docx
/src/CJMSS.WebResources/Documentation/dolphin_renamed/06_sales_001.png
/src/CJMSS.WebResources/Documentation/dolphin_renamed/06_sales_002.png
/src/CJMSS.WebResources/Documentation/dolphin_renamed/06_sales_003.png
/src/CJMSS.WebResources/Documentation/dolphin_renamed/06_sales_004.png
/src/CJMSS.WebResources/Documentation/dolphin_renamed/06_sales_005.png
/src/CJMSS.WebResources/Documentation/dolphin_renamed/06_sales_006.png
/src/CJMSS.WebResources/Documentation/dolphin_renamed/06_sales_007.png
/src/CJMSS.WebResources/Documentation/dolphin_renamed/06_sales_008.png
/src/CJMSS.WebResources/Documentation/dolphin_renamed/06_sales_009.png
/src/CJMSS.WebResources/Documentation/dolphin_renamed/06_sales_010.png
/src/CJMSS.WebResources/Documentation/dolphin_renamed/06_sales_011.png
/src/CJMSS.WebResources/Documentation/dolphin_renamed/06_sales_012.png
/src/CJMSS.WebResources/Documentation/dolphin_renamed/06_sales_013.png
/src/CJMSS.WebResources/Documentation/dolphin_renamed/06_sales_014.png
/src/CJMSS.WebResources/Documentation/dolphin_renamed/06_sales_015.png
/src/CJMSS.WebResources/Documentation/dolphin_renamed/06_sales_016.png
/src/CJMSS.WebResources/Documentation/dolphin_renamed/06_sales_017.png
/src/CJMSS.WebResources/Documentation/dolphin_renamed/06_sales_018.png
/src/CJMSS.WebResources/Documentation/dolphin_renamed/06_sales_019.png
/src/CJMSS.WebResources/Documentation/dolphin_renamed/06_sales_020.png
/src/CJMSS.WebResources/Documentation/dolphin_renamed/06_sales_021.png
/src/CJMSS.WebResources/Documentation/dolphin_renamed/06_sales_022.png
/src/CJMSS.WebResources/Documentation/dolphin_renamed/06_sales_023.png
/src/CJMSS.WebResources/Documentation/dolphin_renamed/06_sales_024.png
/src/CJMSS.WebResources/Documentation/dolphin_renamed/06_sales_025.png
/src/CJMSS.WebResources/Documentation/dolphin_renamed/06_sales_026.png
/src/CJMSS.WebResources/Documentation/dolphin_renamed/06_sales_027.png
/src/CJMSS.WebResources/Documentation/dolphin_renamed/06_sales_028.png
/src/CJMSS.WebResources/Documentation/dolphin_renamed/06_sales_029.png
/src/CJMSS.WebResources/Documentation/dolphin_renamed/06_sales_030.png
/src/CJMSS.WebResources/Documentation/dolphin_renamed/06_sales_031.png
/src/CJMSS.WebResources/Documentation/dolphin_renamed/06_sales_032.png
/src/CJMSS.WebResources/Documentation/dolphin_renamed/06_sales_033.png
/src/CJMSS.WebResources/Documentation/dolphin_renamed/06_sales_034.png
/src/CJMSS.WebResources/Documentation/dolphin_renamed/06_sales_035.png
/src/CJMSS.WebResources/Documentation/dolphin_renamed/06_sales_036.png
/src/CJMSS.WebResources/Documentation/dolphin_renamed/06_sales_037.png
/src/CJMSS.WebResources/Documentation/dolphin_renamed/06_sales_038.png
/src/CJMSS.WebResources/Documentation/dolphin_renamed/06_sales_039.png
/src/CJMSS.WebResources/Documentation/dolphin_renamed/06_sales_040.png
/src/CJMSS.WebResources/Documentation/dolphin_renamed/06_sales_041.png
/src/CJMSS.WebResources/Documentation/dolphin_renamed/06_sales_042.png
/src/CJMSS.WebResources/Documentation/dolphin_renamed/06_sales_043.png
/src/CJMSS.WebResources/Documentation/dolphin_renamed/06_sales_044.png
/src/CJMSS.WebResources/Documentation/dolphin_renamed/06_sales_045.png
/src/CJMSS.WebResources/Documentation/dolphin_renamed/06_sales_046.png
/src/CJMSS.WebResources/Documentation/dolphin_renamed/06_sales_047.png
/src/CJMSS.WebResources/Documentation/dolphin_renamed/06_sales_048.png
/src/CJMSS.WebResources/Documentation/dolphin_renamed/06_sales_049.png
/src/CJMSS.WebResources/Documentation/dolphin_renamed/06_sales_050.png
/src/CJMSS.WebResources/Documentation/dolphin_renamed/06_sales_051.png
/src/CJMSS.WebResources/Documentation/dolphin_renamed/06_sales_052.png
/src/CJMSS.WebResources/Documentation/dolphin_renamed/06_sales_053.png
/src/CJMSS.WebResources/Documentation/dolphin_renamed/07_maintenance_001.png
/src/CJMSS.WebResources/Documentation/dolphin_renamed/07_maintenance_002.png
/src/CJMSS.WebResources/Documentation/dolphin_renamed/07_maintenance_003.png
/src/CJMSS.WebResources/Documentation/dolphin_renamed/07_maintenance_004.png
/src/CJMSS.WebResources/Documentation/dolphin_renamed/07_maintenance_005.png
/src/CJMSS.WebResources/Documentation/dolphin_renamed/07_maintenance_006.png
/src/CJMSS.WebResources/Documentation/dolphin_renamed/07_maintenance_007.png
/src/CJMSS.WebResources/Documentation/dolphin_renamed/07_maintenance_008.png
/src/CJMSS.WebResources/Documentation/dolphin_renamed/07_maintenance_009.png
/src/CJMSS.WebResources/Documentation/dolphin_renamed/07_maintenance_010.png
/src/CJMSS.WebResources/Documentation/dolphin_renamed/07_maintenance_011.png
